html,
body {
  height: 100%;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}
p {
  margin: 0;
  padding: 0;
}
#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
.time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
.date {
  letter-spacing: 0.1em;
  font-size: 34px;
  text-transform: uppercase;
}
.text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}

.link {
  text-decoration: none;

  width: 150px;
  height: 45px;
}
.btn {
  width: 150px;
  height: 35px;
  border-radius: 25px;
  margin: 20px;
  font-size: 17px;
}
.btn:hover {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  color: white;
  cursor: pointer;
}

#tzlist {
  width: 150px;
  height: 35px;
  border-radius: 25px;
  font-size: 17px;
  margin-left: 20px;
}

#tzlist option {
  width: 150px;
}

select:hover {
  color: white;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}
